$primary-base: #cee5f2;
$primary-100: #133447;
$primary-200: #26688e;
$primary-400: #88bfdf;
$primary-500: #cee5f2;
$primary-600: #d8eaf5;
$primary-700: #e2eff7;
$primary-800: #ecf5fa;
$primary-900: #f5fafc;

$secondary-base: #accbe1;
$secondary-100: #152b3a;
$secondary-200: #2a5675;
$secondary-300: #3f81af;
$secondary-400: #72a7cc;
$secondary-500: #accbe1;
$secondary-600: #bdd6e7;
$secondary-700: #cee0ed;
$secondary-800: #deeaf3;
$secondary-900: #eff5f9;

$tertiary-base: #7c98b3;
$tertiary-100: #161e26;
$tertiary-200: #2c3d4c;
$tertiary-300: #3f81af;
$tertiary-400: #587999;
$tertiary-500: #7c98b3;
$tertiary-600: #95acc2;
$tertiary-700: #afc1d1;
$tertiary-800: #cad6e0;
$tertiary-900: #e4eaf0;

$contrast-primary-100: #14171a;
$contrast-primary-200: #282d34;
$contrast-primary-300: #3c444e;
$contrast-primary-400: #505a68;
$contrast-primary-500: #637081;
$contrast-primary-600: #808d9d;
$contrast-primary-700: #a0a9b6;
$contrast-primary-800: #c0c6ce;
$contrast-primary-900: #e4eaf0;

$contrast-secondary-100: #111618;
$contrast-secondary-200: #212b30;
$contrast-secondary-300: #324148;
$contrast-secondary-400: #435660;
$contrast-secondary-500: #536b78;
$contrast-secondary-600: #6f8b9b;
$contrast-secondary-700: #93a8b4;
$contrast-secondary-800: #b7c5cd;
$contrast-secondary-900: #dbe2e6;
